textarea,
.textarea {
  height: 400px;
}

.RUNNING {
  background-color: hsl(153, 53%, 53%);
  font-weight: 900;
  color: white;
}
.PAUSED {
  background-color: hsl(0, 0%, 86%);
  font-weight: 900;
  color: white;
}

.UNASSIGNED {
  background-color: hsl(44, 100%, 77%);
  font-weight: 900;
  color: white;
}

.FAILED {
  background-color: hsl(348, 86%, 61%);
  font-weight: 900;
  color: white;
}
