body {
  font-family: "Avenir", "Helvetica Neue", Arial, sans-serif;
  margin: 25px;
}

header {
  padding-bottom: 10px; 
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#menu li {
  float: left;
  margin-bottom: 0;
}

#menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 25px;
  font-weight: bold;
  text-decoration: underline
}


/* Change the link color to #111 (black) on hover */
#menuli a:hover {
  background-color: #111;
}

#menu .router-link-exact-active {
  color: #4CAF50;
}
  
textarea {
  height: 400px
}

pre {
  display: block; overflow-x: auto; padding: 0.5em; color: rgb(0, 0, 0); background: rgb(248, 248, 255) none repeat scroll 0% 0%;

}

tr .RUNNING {
  background-color: rgb(28, 184, 65);
  color: #ffffff;
  font-weight: bold;
}

tr .PAUSED {
  background-color: rgb(66, 184, 221);
  color: #ffffff;
  font-weight: bold;
}

tr .UNASSIGNED {
  background-color: rgb(223, 117, 20);
  color: #ffffff;
  font-weight: bold;
}

tr .FAILED {
  background-color: rgb(202, 60, 60);
  color: #ffffff;
  font-weight: bold;
}

.operation td{
  padding: 0px;
}

#detail {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info {
  background: #0078e7;
  margin: 1em 0;
  padding: .3em 1em;
  border-radius: 3px;
  color: #fff;
}

.error {
  background: rgb(202, 60, 60);
  margin: 1em 0;
  padding: .3em 1em;
  border-radius: 3px;
  color: #fff;
}