[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
autopep8 = "*"
pylint = "*"
black = "*"

[packages]
flask = "*"
requests = "*"
flask-cors = "*"
gunicorn = "*"
apscheduler = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
